In [1]:
#Names of Group Members

In [2]:
#Liuyang Zheng(706089851)

In [3]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import re
import numpy as np

# Q1.) Web Crawling Tables

### Q1.A.) Create a list of links for all the wikipedia pages for NYSE traded companies A-Z and 0-9

In [4]:
# URL = f"https://en.wikipedia.org/wiki/Companies_listed_on_the_New_York_Stock_Exchange_(A)"
URLs = []
alphabet = [chr(i) for i in range(65, 91)]
alphabet.append("0-9")
for a in alphabet:
    URLs.append(f"https://en.wikipedia.org/wiki/Companies_listed_on_the_New_York_Stock_Exchange_({a})")

In [5]:
URLs

['https://en.wikipedia.org/wiki/Companies_listed_on_the_New_York_Stock_Exchange_(A)',
 'https://en.wikipedia.org/wiki/Companies_listed_on_the_New_York_Stock_Exchange_(B)',
 'https://en.wikipedia.org/wiki/Companies_listed_on_the_New_York_Stock_Exchange_(C)',
 'https://en.wikipedia.org/wiki/Companies_listed_on_the_New_York_Stock_Exchange_(D)',
 'https://en.wikipedia.org/wiki/Companies_listed_on_the_New_York_Stock_Exchange_(E)',
 'https://en.wikipedia.org/wiki/Companies_listed_on_the_New_York_Stock_Exchange_(F)',
 'https://en.wikipedia.org/wiki/Companies_listed_on_the_New_York_Stock_Exchange_(G)',
 'https://en.wikipedia.org/wiki/Companies_listed_on_the_New_York_Stock_Exchange_(H)',
 'https://en.wikipedia.org/wiki/Companies_listed_on_the_New_York_Stock_Exchange_(I)',
 'https://en.wikipedia.org/wiki/Companies_listed_on_the_New_York_Stock_Exchange_(J)',
 'https://en.wikipedia.org/wiki/Companies_listed_on_the_New_York_Stock_Exchange_(K)',
 'https://en.wikipedia.org/wiki/Companies_listed_on_the_New_York_Stock_Exchange_(L)',
 'https://en.wikipedia.org/wiki/Companies_listed_on_the_New_York_Stock_Exchange_(M)',
 'https://en.wikipedia.org/wiki/Companies_listed_on_the_New_York_Stock_Exchange_(N)',
 'https://en.wikipedia.org/wiki/Companies_listed_on_the_New_York_Stock_Exchange_(O)',
 'https://en.wikipedia.org/wiki/Companies_listed_on_the_New_York_Stock_Exchange_(P)',
 'https://en.wikipedia.org/wiki/Companies_listed_on_the_New_York_Stock_Exchange_(Q)',
 'https://en.wikipedia.org/wiki/Companies_listed_on_the_New_York_Stock_Exchange_(R)',
 'https://en.wikipedia.org/wiki/Companies_listed_on_the_New_York_Stock_Exchange_(S)',
 'https://en.wikipedia.org/wiki/Companies_listed_on_the_New_York_Stock_Exchange_(T)',
 'https://en.wikipedia.org/wiki/Companies_listed_on_the_New_York_Stock_Exchange_(U)',
 'https://en.wikipedia.org/wiki/Companies_listed_on_the_New_York_Stock_Exchange_(V)',
 'https://en.wikipedia.org/wiki/Companies_listed_on_the_New_York_Stock_Exchange_(W)',
 'https://en.wikipedia.org/wiki/Companies_listed_on_the_New_York_Stock_Exchange_(X)',
 'https://en.wikipedia.org/wiki/Companies_listed_on_the_New_York_Stock_Exchange_(Y)',
 'https://en.wikipedia.org/wiki/Companies_listed_on_the_New_York_Stock_Exchange_(Z)',
 'https://en.wikipedia.org/wiki/Companies_listed_on_the_New_York_Stock_Exchange_(0-9)']

### Q1.B.) Crawl through all the URLs and make 1 DF with all the NYSE publically traded companies

In [6]:
df_list = []
for URL in URLs:
    html = requests.get(URL).content
    df_list.append(pd.read_html(html)[1])
df_list = pd.concat(df_list)

In [7]:
df_list

                 Stock name Symbol Country of origin
0   A. O. Smith Corporation    AOS                US
1        A10 Networks, Inc.   ATEN                US
2         AAC Holdings Inc.    AAC                US
3           AAR Corporation    AIR                US
4              Aaron's Inc.    AAN                US
..                      ...    ...               ...
0    3D Systems Corporation    DDD                US
1                3M Company    MMM                US
2                   500.com   WBAI             China
3               58.com Inc.   WUBA             China
4                  8x8 Inc.   EGHT                US

[2723 rows x 3 columns]

### Q1.C.) What is the percetages of companies that contain 1 letter, 2 letters, 3 letters, 4 letters and 5 letters in the ticker?

In [8]:
tickerList = df_list["Symbol"].to_list()

In [9]:
print("The percetage of companies that contain 1 letter:", len([i for i in tickerList if len(i) == 1]) * 100/len(tickerList), "%")
print("The percetage of companies that contain 2 letters:", len([i for i in tickerList if len(i) == 2]) * 100/len(tickerList), "%")
print("The percetage of companies that contain 3 letters:", len([i for i in tickerList if len(i) == 3]) * 100/len(tickerList), "%")
print("The percetage of companies that contain 4 letters:", len([i for i in tickerList if len(i) == 4]) * 100/len(tickerList), "%")
print("The percetage of companies that contain 5 letters:", len([i for i in tickerList if len(i) == 5]) * 100/len(tickerList), "%")

The percetage of companies that contain 1 letter: 0.8813808299669482 %
The percetage of companies that contain 2 letters: 6.9775982372383405 %
The percetage of companies that contain 3 letters: 65.18545721630555 %
The percetage of companies that contain 4 letters: 14.836577304443628 %
The percetage of companies that contain 5 letters: 0.8079324274697025 %

# Q2.) Web Scraping Using Beautiful Soup

### Q2.A.) Using Beautiful soup .findAll method you will webscrape the front page of Reddit. Get a list of all of the "timestamps"

In [10]:
URL = "https://www.reddit.com"

In [11]:
def lovely_soup(u):
    page = requests.get(u)
    return(BeautifulSoup(page.content, 'html.parser'))
soup = lovely_soup(URL)
timestamps = soup.findAll("span", attrs = {"data-testid":"post_timestamp"})
timestamps = [t.text for t in timestamps]
print(timestamps)

['10 hours ago', '13 hours ago', '10 hours ago', '5 hours ago', '11 hours ago', '11 hours ago', '16 hours ago', '4 hours ago']

### Q2.B.) Using the functions findChild, descendents, etc. locate the post title and store in a list.

In [12]:
titles = [i.text for i in soup.findAll("h3")]

In [13]:
titles

['Why, just why.',
 'Whats the best response to May the 4th be with you?',
 "I'm 24, and I feel like a child masquerading as an adult most days. I'm just wondering, when do most people start feeling like proper adults?",
 'Chemichael Jackson',
 'Why me? AI generated harassment ðŸ¤¯',
 '"there is no world where starfield is so good people sell their ps5 and move to xbox" phil spencer says',
 'American Polyglot surprises African Warrior Tribe with their language',
 'Man Arrested After Opening Heroin, Cocaine, and Meth Store in Canada']

### Q2.C.) Create a dataframe that has the associated title and post time for each post.

In [14]:
d = {'title': titles, 'post time': timestamps}
df = pd.DataFrame(data=d)

In [15]:
df

                                               title     post time
0                                     Why, just why.  10 hours ago
1  Whats the best response to May the 4th be with...  13 hours ago
2  I'm 24, and I feel like a child masquerading a...  10 hours ago
3                                 Chemichael Jackson   5 hours ago
4                  Why me? AI generated harassment ðŸ¤¯  11 hours ago
5  "there is no world where starfield is so good ...  11 hours ago
6  American Polyglot surprises African Warrior Tr...  16 hours ago
7  Man Arrested After Opening Heroin, Cocaine, an...   4 hours ago

# Q3.) RegEx

### Q3.A.) Using RegEx, get all the urls of ladder faculty profiles for UCLA Economics

In [16]:
URL = "https://economics.ucla.edu/faculty/ladder"

In [17]:
soup = lovely_soup(URL)

In [18]:
text = str(soup)

In [19]:
# pattern = re.compile(r'https://economics\.ucla\.edu/person/[^/]+\/([^/]+)\/')
pattern = re.compile(r'https://economics\.ucla\.edu/person\/[a-zA-Z]+\-[a-zA-Z]*-?[a-zA-Z]*-?[a-zA-Z]+\/')
# pattern = re.compile(r'/[]+/')
matches = pattern.finditer(text)
matches = [match for match in matches]
urlsLadder = [i[0] for i in matches]
urlsLadder = list(set(urlsLadder))

In [20]:
urlsLadder

['https://economics.ucla.edu/person/saki-bigio/',
 'https://economics.ucla.edu/person/ariel-burstein/',
 'https://economics.ucla.edu/person/andres-santos/',
 'https://economics.ucla.edu/person/zhipeng-liao/',
 'https://economics.ucla.edu/person/maurizio-mazzocco/',
 'https://economics.ucla.edu/person/felipe-goncalves/',
 'https://economics.ucla.edu/person/daniel-haanwinckel/',
 'https://economics.ucla.edu/person/john-asker/',
 'https://economics.ucla.edu/person/lee-e-ohanian/',
 'https://economics.ucla.edu/person/sule-ozler/',
 'https://economics.ucla.edu/person/michael-rubens/',
 'https://economics.ucla.edu/person/till-von-wachter/',
 'https://economics.ucla.edu/person/hugo-hopenhayn/',
 'https://economics.ucla.edu/person/juliana-londono-velez/',
 'https://economics.ucla.edu/person/michela-giorcelli/',
 'https://economics.ucla.edu/person/ichiro-obara/',
 'https://economics.ucla.edu/person/oleg-itskhoki/',
 'https://economics.ucla.edu/person/rodrigo-pinto/',
 'https://economics.ucla.edu/person/david-baqaee/',
 'https://economics.ucla.edu/person/jay-lu/',
 'https://economics.ucla.edu/person/shuyang-sheng/',
 'https://economics.ucla.edu/person/bernardo-s-silveira/',
 'https://economics.ucla.edu/person/andrew-atkeson/',
 'https://economics.ucla.edu/person/simon-board/',
 'https://economics.ucla.edu/person/alexander-bloedel/',
 'https://economics.ucla.edu/person/aaron-tornell/',
 'https://economics.ucla.edu/person/kathleen-mcgarry/',
 'https://economics.ucla.edu/person/pablo-fajgelbaum/',
 'https://economics.ucla.edu/person/moritz-meyer-ter-vehn/',
 'https://economics.ucla.edu/person/jonathan-vogel/',
 'https://economics.ucla.edu/person/denis-chetverikov/',
 'https://economics.ucla.edu/person/francois-geerolf/',
 'https://economics.ucla.edu/person/jinyong-hahn/',
 'https://economics.ucla.edu/person/william-r-zame/',
 'https://economics.ucla.edu/person/martin-b-hackmann/',
 'https://economics.ucla.edu/person/tomasz-sadzik/',
 'https://economics.ucla.edu/person/yotam-shem-tov/',
 'https://economics.ucla.edu/person/pierre-olivier-weill/',
 'https://economics.ucla.edu/person/natalie-bau/',
 'https://economics.ucla.edu/person/dora-costa/',
 'https://economics.ucla.edu/person/will-rafey/',
 'https://economics.ucla.edu/person/martha-bailey/',
 'https://economics.ucla.edu/person/gary-d-hansen/',
 'https://economics.ucla.edu/person/adriana-lleras-muney/',
 'https://economics.ucla.edu/person/rosa-liliana-matzkin/']

In [21]:
len(urlsLadder)

45

### Q3.B.) Webcrawl the links from A and use RegEx to get all the emails and phone numbers of ladder faculty profiles

In [22]:
emails = []
phones = []
for url in urlsLadder:
    soup = lovely_soup(url)
    text = str(soup)
    pattern = re.compile(r'[a-zA-Z]+@econ\.ucla\.edu')
    matches = pattern.finditer(text)
    email = [match for match in matches][0][0]
    pattern = re.compile(r'\([0-9]{3}\) [0-9]{3}\-[0-9]{4}')
    matches = pattern.finditer(text)
    matches = [match for match in matches]
    if len(matches) != 0:
        phone = [match for match in matches][0][0]
    else:
        phone = np.nan
    emails.append(email)
    phones.append(phone)
    print(email, phone)

sbigio@econ.ucla.edu (310) 825-9397
arielb@econ.ucla.edu (310) 206-6732
andres@econ.ucla.edu nan
liao@econ.ucla.edu (310) 794-5427
mmazzocc@econ.ucla.edu (310) 825-6682
fgoncalves@econ.ucla.edu nan
haanwinckel@econ.ucla.edu nan
johnasker@econ.ucla.edu nan
ohanian@econ.ucla.edu (310) 825-0979
ozler@econ.ucla.edu (310) 206-6031
webmaster@econ.ucla.edu nan
tvwachter@econ.ucla.edu (310) 825-5665
hopen@econ.ucla.edu (310) 206-8896
londonovelez@econ.ucla.edu nan
mgiorcelli@econ.ucla.edu (310) 825-1011
iobara@econ.ucla.edu (310) 794-7098
itskhoki@econ.ucla.edu nan
rodrig@econ.ucla.edu (310) 825-0849
baqaee@econ.ucla.edu nan
jay@econ.ucla.edu (310) 825-7380
ssheng@econ.ucla.edu (310) 825-8018
silveira@econ.ucla.edu nan
webmaster@econ.ucla.edu nan
sboard@econ.ucla.edu (310) 825-5304
abloedel@econ.ucla.edu nan
tornell@econ.ucla.edu (310) 794-1686
webmaster@econ.ucla.edu (310) 825-1011
pfajgelbaum@econ.ucla.edu (310) 794-7241
mtv@econ.ucla.edu nan
jvogel@econ.ucla.edu nan
chetverikov@econ.ucla.edu (310) 825-4521
fgeerolf@econ.ucla.edu (310) 794-5342
hahn@econ.ucla.edu (310) 825-2523
zame@econ.ucla.edu (310) 206-9463
hackmann@econ.ucla.edu (310) 825-1011
tsadzik@econ.ucla.edu (310) 206-2833
shemtov@econ.ucla.edu nan
poweill@econ.ucla.edu (310) 794-6495
webmaster@econ.ucla.edu nan
costa@econ.ucla.edu (310) 825-4249
rafey@econ.ucla.edu nan
webmaster@econ.ucla.edu nan
ghansen@econ.ucla.edu (310) 825-3847
alleras@econ.ucla.edu (310) 825-3925
matzkin@econ.ucla.edu (310) 825-7371

In [23]:
d = {"links": urlsLadder, "emails": emails, "phones": phones}
dfLadder = pd.DataFrame(data = d)

In [24]:
dfLadder

,links,emails,phones
0,https://economics.ucla.edu/person/saki-bigio/,sbigio@econ.ucla.edu,(310) 825-9397
1,https://economics.ucla.edu/person/ariel-burstein/,arielb@econ.ucla.edu,(310) 206-6732
2,https://economics.ucla.edu/person/andres-santos/,andres@econ.ucla.edu,NaN
3,https://economics.ucla.edu/person/zhipeng-liao/,liao@econ.ucla.edu,(310) 794-5427
4,https://economics.ucla.edu/person/maurizio-maz...,mmazzocc@econ.ucla.edu,(310) 825-6682
5,https://economics.ucla.edu/person/felipe-gonca...,fgoncalves@econ.ucla.edu,NaN
6,https://economics.ucla.edu/person/daniel-haanw...,haanwinckel@econ.ucla.edu,NaN
7,https://economics.ucla.edu/person/john-asker/,johnasker@econ.ucla.edu,NaN
8,https://economics.ucla.edu/person/lee-e-ohanian/,ohanian@econ.ucla.edu,(310) 825-0979
9,https://economics.ucla.edu/person/sule-ozler/,ozler@econ.ucla.edu,(310) 206-6031
10,https://economics.ucla.edu/person/michael-rubens/,webmaster@econ.ucla.edu,NaN
11,https://economics.ucla.edu/person/till-von-wac...,tvwachter@econ.ucla.edu,(310) 825-5665
12,https://economics.ucla.edu/person/hugo-hopenhayn/,hopen@econ.ucla.edu,(310) 206-8896
13,https://economics.ucla.edu/person/juliana-lond...,londonovelez@econ.ucla.edu,NaN
14,https://economics.ucla.edu/person/michela-gior...,mgiorcelli@econ.ucla.edu,(310) 825-1011
15,https://economics.ucla.edu/person/ichiro-obara/,iobara@econ.ucla.edu,(310) 794-7098
16,https://economics.ucla.edu/person/oleg-itskhoki/,itskhoki@econ.ucla.edu,NaN
17,https://economics.ucla.edu/person/rodrigo-pinto/,rodrig@econ.ucla.edu,(310) 825-0849
18,https://economics.ucla.edu/person/david-baqaee/,baqaee@econ.ucla.edu,NaN
19,https://economics.ucla.edu/person/jay-lu/,jay@econ.ucla.edu,(310) 825-7380
20,https://economics.ucla.edu/person/shuyang-sheng/,ssheng@econ.ucla.edu,(310) 825-8018
21,https://economics.ucla.edu/person/bernardo-s-s...,silveira@econ.ucla.edu,NaN
22,https://economics.ucla.edu/person/andrew-atkeson/,webmaster@econ.ucla.edu,NaN
23,https://economics.ucla.edu/person/simon-board/,sboard@econ.ucla.edu,(310) 825-5304
24,https://economics.ucla.edu/person/alexander-bl...,abloedel@econ.ucla.edu,NaN
25,https://economics.ucla.edu/person/aaron-tornell/,tornell@econ.ucla.edu,(310) 794-1686
26,https://economics.ucla.edu/person/kathleen-mcg...,webmaster@econ.ucla.edu,(310) 825-1011
27,https://economics.ucla.edu/person/pablo-fajgel...,pfajgelbaum@econ.ucla.edu,(310) 794-7241
28,https://economics.ucla.edu/person/moritz-meyer...,mtv@econ.ucla.edu,NaN
29,https://economics.ucla.edu/person/jonathan-vogel/,jvogel@econ.ucla.edu,NaN
30,https://economics.ucla.edu/person/denis-chetve...,chetverikov@econ.ucla.edu,(310) 825-4521
31,https://economics.ucla.edu/person/francois-gee...,fgeerolf@econ.ucla.edu,(310) 794-5342
32,https://economics.ucla.edu/person/jinyong-hahn/,hahn@econ.ucla.edu,(310) 825-2523
33,https://economics.ucla.edu/person/william-r-zame/,zame@econ.ucla.edu,(310) 206-9463
34,https://economics.ucla.edu/person/martin-b-hac...,hackmann@econ.ucla.edu,(310) 825-1011
35,https://economics.ucla.edu/person/tomasz-sadzik/,tsadzik@econ.ucla.edu,(310) 206-2833
36,https://economics.ucla.edu/person/yotam-shem-tov/,shemtov@econ.ucla.edu,NaN
37,https://economics.ucla.edu/person/pierre-olivi...,poweill@econ.ucla.edu,(310) 794-6495
38,https://economics.ucla.edu/person/natalie-bau/,webmaster@econ.ucla.edu,NaN
39,https://economics.ucla.edu/person/dora-costa/,costa@econ.ucla.edu,(310) 825-4249
40,https://economics.ucla.edu/person/will-rafey/,rafey@econ.ucla.edu,NaN
41,https://economics.ucla.edu/person/martha-bailey/,webmaster@econ.ucla.edu,NaN
42,https://economics.ucla.edu/person/gary-d-hansen/,ghansen@econ.ucla.edu,(310) 825-3847
43,https://economics.ucla.edu/person/adriana-ller...,alleras@econ.ucla.edu,(310) 825-3925
44,https://economics.ucla.edu/person/rosa-liliana...,matzkin@econ.ucla.edu,(310) 825-7371

# Q4.) Selenium

### Q4.A.) Pick a website that has useful data to a business or economic question. Put your website you plan to scrape here : https://docs.google.com/spreadsheets/d/1yZTCktXhj7vT40HsITRQI_9FFZ-QIovSv4UZP9w67iI/edit?usp=sharing
### You must have use website that no other group has. First come first serve

In [25]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [26]:
URL = "https://flightaware.com/live/fleet/"

### Q4.B.) Use Selenium to scrape valuable information from your website and store in a dataframe.

In [27]:
PATH = '/Users/lizheng/Downloads/chromedriver_mac_arm64/chromedriver'

In [28]:
driver = webdriver.Chrome(PATH)
driver.get(URL)

/var/folders/h5/xy66q_8n5m91xb6gg__86s3c0000gn/T/ipykernel_63319/1505389030.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(PATH)

In [29]:
# element = WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.LINK_TEXT, "Flight Tracking")))
# element.click()
table = driver.find_element(By.CLASS_NAME, "prettyTable").get_attribute("outerHTML")

In [30]:
df = pd.read_html(table)[0]

In [31]:
df

    Airborne Aircraft (Entire Airline/Operator Fleet)         \
                                         # of Flights Prefix
0                                                 385    UAL
1                                                 360    DAL
2                                                 337    SWA
3                                                 334    AAL
4                                                 293    CSN
..                                                ...    ...
733                                                 1    VLG
734                                                 1    AHX
735                                                 1    XAB
736                                                 1    IBX
737                                                 1    SPT


                                     Airline/Operator
0                                     United "United"
1                                       Delta "Delta"
2                  Southwest "Southwest" (Dallas, TX)
3                        American Airlines "American"
4    China Southern Airlines "China Southern" (China)
..                                                ...
733                Vueling Airlines "Vueling" (Spain)
734                    Amakusa Airlines "Amakusa Air"
735             Xabre Aerolineas de C.V. "Aero Xabre"
736                                       Ibex "Ibex"
737                          Bengis Aviation "Sprint"

[738 rows x 3 columns]

In [32]:
driver.close()
driver.quit()

### Q4.C.) Write a short paragraph about the businesses or research that would use the data you scraped. Descrivbe it's value and what it can be used for.

### The data I scraped is the real time number of different Airlines that are currently in the air for operation. The website also offers the real time data in terms of airport and aircraft type. This data can be valuable for researchers who want to study the effect of air transport on the international economics and may also be used as an important indicator for predicting a national's GDP. And due to the reason that the data itself is real time, people can scrape the data multiple times a day to analyze each airline's opearation status and therefore maybe develop a trading model upon this.